<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="resources/public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="resources/public/css/garamond.css" />
    <!-- script src="http://code.jquery.com/jquery-1.9.1.min.js"></script -->
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <ul style="list-style:none;margin:0px;">
        {{#functions}}
        <li class="well">
          <strong>({{name}}<i>{{#parameters}} {{name}}{{/parameters}}</i>)</strong>
          <p>
            {{{doc}}}
            <dl>
              {{#detail}}
              <dt>{{name}}</dt>
              <dd>{{{doc}}}</dd>
              {{/detail}}
            </dl>
          </p>
        </li>
        {{/functions}}
      </ul>
    </div>
  </body>
</html>
