<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="resources/public/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="resources/public/css/garamond.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  </head>
  <body>
    <header class="intro">
      <div class="container">
        <h1>My Library</h1>
        <p>Create API documentation with style</p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list namespaces"
              data-spy="affix"
              data-offset-top="210"
              data-offset-bottom="270">
            <li class="nav-header">Name Spaces</li>
            {{#roots}}
            <li><a href="#{{name}}">{{name}}</a></li>
            {{/roots}}
          </ul>
        </div>
        <div class="span9">
          {{#roots}}
          <section>
            <div class="page-header" id="{{name}}">
              <h1>{{name}}</h1>
              <p>{{{doc}}}</p>
            </div>
            <ul style="list-style:none;margin:0px;">
              {{#functions}}
              <li class="well">
                <strong>({{name}}<i>{{#parameters}} {{name}}{{/parameters}}</i>)</strong>
                <p>
                  {{{doc}}}
                  <dl>
                    {{#detail}}
                    <dt>{{name}}</dt>
                    <dd>{{{doc}}}</dd>
                    {{/detail}}
                  </dl>
                </p>
              </li>
              {{/functions}}
            </ul>
          </section>
          {{/roots}}
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center">
        <small>Generated
          by <a href="https://github.com/contentjon/garamond">Garamond</a> 
          (C) 2013 Jan Krueger</small>
      </p>
    </footer>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
