.namespaces {
  position:fixed;
  top:100px;
  left:150px;
  min-width:250px;
}

.project {

  min-width:250px;
  min-height:150px;
  margin-right:10px;
}

.relative {
  position:relative;
}

.bottom {
  position:absolute;
  bottom:15px;
}